/*

.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

*/


* {
  box-sizing: border-box; 
}

html, body {
	/*padding-top: 50px;*/
	/*overflow-x: hidden;*/
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  /*background: url('../img/bg.png');*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed; */
}

#page-brand {
  position: absolute;
  top: 15px;
  left: 20%;
  right: 20%; 
    
}

.page-logo-top {
  position: absolute;
  top: -40px;
  left: 20%;
  right: 20%; 
  max-height: 180px;   
}

#page-brand-onscroll {
  display: none;   
}

.fa.fa-envelope {
  color: red; 
}

.contact-info-top {
  position: absolute;
  top: 15px;
  right: 20%; 
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #4CAF50;
	border-color: #388E3C;
	padding-left: 20%;
	padding-right: 20%;
  height: 60px;
}

.navbar-brand, .navbar-nav li a {
    line-height: 60px;
    height: 59px;
    padding-top: 0;
}

.nav.navbar-nav.navbar-center a{
	color: #FFF;
}

.nav.navbar-nav.navbar-center a:hover {
	background-color: #388E3C;
}

.carousel {
  background-color: #000; 
}
.carousel-inner > .item > img {
  max-height: 800px;
  margin: 0 auto; 
}

.carousel-content {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center; 
  z-index: 20;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-content h1 {
  color: white;
  font-size: 72px; 
}

.learn-more {
  width: 200px;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.carousel-inner .btn-primary:hover, {
  background-color: red;
}


#home-page-banner-bg {
  /*position: fixed;*/
  /*left: 0;*/
  /*top: 100px; */
  /*display: inline-block; */
  width: 150%;
  height: 80%; 
  z-index: -1000; 
}

a:hover, a:focus {
	text-decoration: none;
}

.current {
	background-color: #388E3C;
}

.navbar .navbar-brand {
	color: #FFF;
}

#contact-wrapper {
	display: none;
}

#contact-hover {
	display: none;

	border-radius: 0px;
	margin: 0px;
	float: right;
}

.jumbotron {
	border-radius: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	height: 10px; 
}

.jumbotron #contact-info #address a, .jumbotron #contact-info #phone a, .jumbotron #contact-info #email a {
	color: #388E3C;
}

.jumbotron #contact-info #address a:hover, .jumbotron #contact-info #phone a:hover, .jumbotron #contact-info #email a:hover {
	color: #4CAF50;
	text-decoration: none;
}

.jumbotron.contact-info.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.jumbotron h1 {
	color: #388E3C;
	font-size: 26px;
}

h1 {
    color: #388E3C;
	font-size: 36px;
}

.glyphicon, #address, #phone, #email {
	font-size: 22px;
	color: #388E3C;
}

.glyphicon.glyphicon-star {
    color: #FFC107;
}

.glyphicon.glyphicon-star-empty {
    color: #BBB;
}

.review-container.even .glyphicon.glyphicon-star-empty {
    color: #BBB;
}

.review-container.even .glyphicon.glyphicon-star {
    color: #DDC107;
}

hr.custom-hr {
  border-top: 1px dashed #BDBDBD;
  width: 50%;
}

label {
	color: #388E3C;
	font-size: 22px;
	text-align: left;
}

.email-form {
	display: block;
	margin: 0 auto;
	width: 40%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  border-color: #388E3C;
}

#form-msg {
	color: #4CAF50;
	font-size: 20px;
}

#email-form-container {
	/*background-color: #fdfd96;*/
	width: 100%;
	padding: 10px;
}

.navbar-inverse .navbar-toggle {
	border-color: #388E3C;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #388E3C;
  border-color: #388E3C;
}

button.send-btn {
	background-color: #4CAF50;
	border-color: #388E3C;
	font-size: 22px;
}

button.send-btn:hover {
	background-color: #388E3C;
}

button.send-btn:active:focus {
	background-color: #4CAF50;
}

.form-group input, .form-group textarea {
	border-radius: 0px;
	color: #4CAF50;
}

.review-bar {
	color: #388E3C;
	background-color: #C8E6C9;
	border-color: #4CAF50;
	display: inline-block;
}

.review-container {
	padding: 10px 20px 20px 10px;
	background-color: #4CAF50;
	display: inline-block;
	width: 100%;
	border: 1px solid #388E3C;
}


.review-container.even {
	background-color: #C8E6C9;
}

.review-container.even .thumbnail {
	background-color: transparent;
}

.review-container .thumbnail {
	background-color: transparent;
	border: none;
}

.reviewer-profile-img {
	max-height: 100px;
	max-width: 100px;
}

.reviewer-comment-text {
	padding-top: 2%;
	font-size: 22px;
}

.review-post-date {
	color: #C8E6C9;
	float: right;
}

.review-container.even .review-post-date {
	color: #388E3C;
	float: right;
}



.add-review-btn {
	background-color: #4CAF50;
	border-color: #388E3C;
}

.add-review-btn:hover {
	background-color: #388E3C;
	border-color: #388E3C;
}

.add-review-btn:hover .glyphicon-plus {
	color: #4CAF50;
}

.add-review-btn:active:focus {
	background-color: #4CAF50;
	border-color: #388E3C;
}


/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.85);
    z-index: 9999;
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#C8E6C9;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}


/*Slide */

.bx-wrapper img {
  margin: 0 auto !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {

  background: #4CAF50 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #386C3C !important;
}

.size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px solid #4CAF50;
}

.caption {
    font-size: 20px;
    color: white; 
    text-align: center;
    background-color: #4CAF50;
}

.about-person {
  /*background-color: */
}

.container {
  padding-bottom: 12%;   
}

#footer { 
  position: fixed;  
  background-color: #4CAF50;
  bottom: 0;
  width: 100%;
  height: 10%;
}

#footer h3, #footer a {
  font-size: 12px;  
}

.footer-logo {
  max-width: 120px; 
}

.social-media {
  margin-top: 30px;
}

.social-media .contact-col a {
  color: #384B3C;
  font-size: 20px; 
}

.social-media .contact-col a:hover {
  color: #387E3C;   
}

#facebook, #instagram, #twitter, #address-map-icon, #email-icon {
  color: #384B3C; 
  padding-left: 10px;
  padding-right: 10px; 
}

#facebook:hover {
  color: #3B5998;
  cursor: pointer; 
}

#instagram:hover {
  color: #cd486b;
  cursor: pointer; 
}

#twitter:hover {
  color: #1dcaff;
  cursor: pointer; 
}

#address-map-icon:hover {
  color: green;
  cursor: pointer; 
}

#email-icon:hover {
  color: green;
  cursor: pointer; 
}

#phone-number {
  padding: 10px;
}



.cp {
  color: #388E3C; 
}

.footer-title {
  color: #FFF; 
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 250px;
    right: 20px;
    display:none;
}

.glyphicon.glyphicon-chevron-up {
  color: #FFF; 
}
.back-to-top:hover {
  
}



  