/*

.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

*/

body {
	padding-top: 50px;
	overflow-x: hidden;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #4CAF50;
	border-color: #388E3C; 
	padding-left: 10%;
	padding-right: 10%; 
}

.nav.navbar-nav.navbar-right a{
	color: #FFF; 
}

.nav.navbar-nav.navbar-right a:hover {
	background-color: #388E3C; 
}

a:hover, a:focus {
	text-decoration: none; 
}

.current {
	background-color: #388E3C; 
}

.navbar .navbar-brand {
	color: #FFF; 
}

#contact-wrapper {
	display: none; 
}
#contact-hover {
	display: none;
	
	border-radius: 0px;
	margin: 0px;
	float: right; 
}

.jumbotron {
	border-radius: 0px;
	/*background-color: #77dd77;*/
	margin-bottom: 0px; 
}

.jumbotron #contact-info #address a, .jumbotron #contact-info #phone a, .jumbotron #contact-info #email a {
	color: #388E3C; 
}

.jumbotron #contact-info #address a:hover, .jumbotron #contact-info #phone a:hover, .jumbotron #contact-info #email a:hover {
	color: #4CAF50;
	text-decoration: none; 
}

.jumbotron.contact-info.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px; 
}

.jumbotron h1 {
	color: #388E3C;
	font-size: 36px;
}

.glyphicon, #address, #phone, #email {
	font-size: 22px;
	color: #388E3C; 
}

hr.custom-hr { 
  border-top: 1px dashed #BDBDBD;
  width: 50%; 
}

label {
	color: #388E3C;
	font-size: 22px;
	text-align: left; 
}

.email-form {
	display: block;
	margin: 0 auto;
	width: 40%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  border-color: #388E3C;
}

#form-msg {
	color: #4CAF50;
	font-size: 20px; 
}

#email-form-container {
	/*background-color: #fdfd96;*/
	width: 100%;
	padding: 10px; 
}

.navbar-inverse .navbar-toggle {
	border-color: #388E3C; 
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #388E3C;
  border-color: #388E3C; 
}

button.send-btn {
	background-color: #4CAF50;
	border-color: #388E3C;
	font-size: 22px; 
}

button.send-btn:hover {
	background-color: #388E3C;
}

button.send-btn:active:focus {
	background-color: #4CAF50;
}

.form-group input, .form-group textarea {
	border-radius: 0px;
	color: #4CAF50; 
}

.review-bar {
	color: #388E3C;
	background-color: #C8E6C9;
	border-color: #4CAF50; 
	display: inline-block; 
}

.review-container {
	padding: 10px 20px 10px 10px; 
	background-color: #4CAF50;
	display: inline-block;
	width: 100%;
	border: 1px solid #388E3C;
}

.review-container.even {
	background-color: #C8E6C9;
}

.review-container.even .thumbnail {
	background-color: transparent;
}

.reviewer-profile-img {
	max-height: 100px;
	max-width: 100px;
}

.reviewer-comment-text {
	padding-top: 2%;
	font-size: 22px; 
}

.review-post-date {
	color: #C8E6C9;
	float: right; 
}

.review-container.even .review-post-date {
	padding-top: 20px;
	color: #388E3C;
	float: right;
}



.add-review-btn {
	background-color: #4CAF50;
	border-color: #388E3C; 
}

.add-review-btn:hover {
	background-color: #388E3C;
	border-color: #388E3C; 
}

.add-review-btn:hover .glyphicon-plus {
	color: #4CAF50; 
}

.add-review-btn:active:focus {
	background-color: #4CAF50;
	border-color: #388E3C; 
}