/*

*** Primary color:

   shade 0 = #6AD349 = rgb(106,211, 73) = rgba(106,211, 73,1) = rgb0(0.416,0.827,0.286)
   shade 1 = #B0EE9C = rgb(176,238,156) = rgba(176,238,156,1) = rgb0(0.69,0.933,0.612)
   shade 2 = #89E26D = rgb(137,226,109) = rgba(137,226,109,1) = rgb0(0.537,0.886,0.427)
   shade 3 = #4DC029 = rgb( 77,192, 41) = rgba( 77,192, 41,1) = rgb0(0.302,0.753,0.161)
   shade 4 = #329B11 = rgb( 50,155, 17) = rgba( 50,155, 17,1) = rgb0(0.196,0.608,0.067)

*** Secondary color (1):

   shade 0 = #379F8A = rgb( 55,159,138) = rgba( 55,159,138,1) = rgb0(0.216,0.624,0.541)
   shade 1 = #8DD8C9 = rgb(141,216,201) = rgba(141,216,201,1) = rgb0(0.553,0.847,0.788)
   shade 2 = #5ABAA7 = rgb( 90,186,167) = rgba( 90,186,167,1) = rgb0(0.353,0.729,0.655)
   shade 3 = #1F917A = rgb( 31,145,122) = rgba( 31,145,122,1) = rgb0(0.122,0.569,0.478)
   shade 4 = #0D7561 = rgb( 13,117, 97) = rgba( 13,117, 97,1) = rgb0(0.051,0.459,0.38)

*** Secondary color (2):

   shade 0 = #F89656 = rgb(248,150, 86) = rgba(248,150, 86,1) = rgb0(0.973,0.588,0.337)
   shade 1 = #FFC9A6 = rgb(255,201,166) = rgba(255,201,166,1) = rgb0(1,0.788,0.651)
   shade 2 = #FFAF7B = rgb(255,175,123) = rgba(255,175,123,1) = rgb0(1,0.686,0.482)
   shade 3 = #E37630 = rgb(227,118, 48) = rgba(227,118, 48,1) = rgb0(0.89,0.463,0.188)
   shade 4 = #B75414 = rgb(183, 84, 20) = rgba(183, 84, 20,1) = rgb0(0.718,0.329,0.078)

*** Complement color:

   shade 0 = #EC5267 = rgb(236, 82,103) = rgba(236, 82,103,1) = rgb0(0.925,0.322,0.404)
   shade 1 = #FAA3AF = rgb(250,163,175) = rgba(250,163,175,1) = rgb0(0.98,0.639,0.686)
   shade 2 = #F67788 = rgb(246,119,136) = rgba(246,119,136,1) = rgb0(0.965,0.467,0.533)
   shade 3 = #D82E45 = rgb(216, 46, 69) = rgba(216, 46, 69,1) = rgb0(0.847,0.18,0.271)
   shade 4 = #AE1329 = rgb(174, 19, 41) = rgba(174, 19, 41,1) = rgb0(0.682,0.075,0.161)

 */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  font-size: 20px;
  padding-top: 50px;
}

#page-brand {
  position: absolute;
  top: 15px;
  left: 20%;
  right: 20%;

}

.page-logo-top {
  position: absolute;
  top: -40px;
  left: 20%;
  right: 20%;
  max-height: 180px;
}

/*.navbar-nav > li > a {padding-top:30px !important; padding-bottom:5px !important;}
.navbar {min-height:40px !important}*/

#page-brand-onscroll {
  display: none;
}

#page-brand-onscroll-mobile {
  display: none;
}

#navbar-logo {
  position: absolute;
  top: -25px;
  max-height: 120px;
}

.fa.fa-envelope {
  color: red;
}

.contact-info-top {
  position: absolute;
  top: 15px;
  right: 20%;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	background-color: #1d1e22;
	border: none;
	padding-left: 5%;
	padding-right: 5%;
  z-index: 9999;
}

.navbar-collapse {
  background: #1d1e22;
  text-align: center;

}

.navbar-brand {
  /*font-size: 2vw;*/
}

#email-form-submit-btn {
  width: 100%;
}

.btn {
  border-radius: 0;
}
/*.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative !important;
}*/

/*#page-brand-onscroll-mobile {
  color: red;
  visibility: hidden;
}*/

/*@media (min-width: 100px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-brand {
      font-size: 3em;
    }
}*/


/*.navbar-brand, .navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}*/

/*.nav.navbar-nav.navbar-center a{
	color: #FFF;
  font-size: 1em;
  -webkit-transition: border-bottom .1s ease-in;
  -moz-transition: border-bottom .1s ease-in;
  -o-transition: border-bottom .1s ease-in;
  transition: border-bottom .1s ease-in;

  -webkit-transition: font-size .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: font-size .2s ease-in-out, border .2s ease-in-out;
  -o-transition: font-size .2s ease-in-out, border .2s ease-in-out;
  transition: font-size .2s ease-in-out, border .2s ease-in-out;
}

.nav.navbar-nav.navbar-center a:hover {
  border-bottom: 10px solid #329B11;
}*/

.carousel {
  background-color: #000;
}
.carousel-inner > .item > img {
  max-height: 800px;
  margin: 0 auto;
}

.carousel-content {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  z-index: 20;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-content h1 {
  color: white;
  font-size: 6em;
  text-transform: uppercase;
}

.learn-more, .learn-more:active:focus, .learn-more.active:focus, .learn-more:focus {
  background-color: transparent;
  border-color: #ccc;
  width: 300px;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.learn-more:hover {
  border-color: #000;
  background-color: rgba(0,0,0,0.7);
}

.submit-btn, .submit-btn:active:focus, .submit-btn.active:focus, .submit-btn:focus {
  background-color: rgba(0,0,0,0.2); ;
  border-color: #aaa;
  width: 300px;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.submit-btn:hover {
  border-color: #000;
  background-color: rgba(0,0,0,0.7);
}

#home-page-banner-bg {
  width: 150%;
  height: 80%;
  z-index: -1000;
}

a:hover, a:focus {
	text-decoration: none;
}

/*.current {
	border-bottom: 10px solid #329B11;
}*/

.navbar .navbar-brand {
	color: #FFF;
}

.jumbotron {
	border-radius: 0px;
	background-color: transparent;
	margin-bottom: 0px;
	height: 10px;
}

.jumbotron #contact-info #address a, .jumbotron #contact-info #phone a, .jumbotron #contact-info #email a {
	color: #000;
}

.jumbotron #contact-info #address a:hover, .jumbotron #contact-info #phone a:hover, .jumbotron #contact-info #email a:hover {
	color: #379F8A;
	text-decoration: none;
}

.jumbotron.contact-info.center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
  width: 100%;
}

h1.main-title {
  color: #0D7561;
  font-size: 4em;
}

#address, #phone, #email {
	font-size: 1em;
	/*color: red;*/
}

.glyphicon.glyphicon-star {
    color: #FFC107;
}

.glyphicon.glyphicon-star-empty {
    color: #BBB;
}

.review-container.even .glyphicon.glyphicon-star-empty {
    color: #BBB;
}

.review-container.even .glyphicon.glyphicon-star {
    color: #DDC107;
}

hr.custom-hr {
  border-top: 1px dashed #BDBDBD;
  width: 50%;
}

label {
	color: #0D7561;
	font-size: 1em;
	text-align: left;
}

.email-form {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#form-msg {
	color: #1d1e22;
	font-size: 1em;
}


/*.navbar-inverse .navbar-toggle {
	border-color: red;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #329B11;
  border-color: #329B11;
}*/

/*button.send-btn {
	background-color: #1d1e22;
	border-color: #329B11;
	font-size: 22px;
}

button.send-btn:hover {
	background-color: #329B11;
}

button.send-btn:active:focus {
	background-color: #1d1e22;
}*/

.form-group input, .form-group textarea {
	border-radius: 0px;
	color: #379F8A;
}

.review-bar {
	color: #329B11;
	background-color: #C8E6C9;
	border-color: #1d1e22;
	display: inline-block;
}

.review-container {
	padding: 10px 20px 20px 10px;
	/*background-color: #1d1e22;*/
	display: inline-block;
	width: 100%;
	/*border: 1px solid #329B11;*/
}


.review-container.even {
	background-color: rgba(106,211, 73,0.1);
}

.review-container.even .thumbnail {
	background-color: transparent;
}

.review-container .thumbnail {
	background-color: transparent;
	border: none;
}

.reviewer-profile-img {
	max-height: 100px;
	max-width: 100px;
}

.reviewer-comment-text {
	padding-top: 2%;
	font-size: 1.2em;
}

.review-post-date {
	color: #0D7561;
	float: right;
}

.review-container.even .review-post-date {
	color: #329B11;
	float: right;
}

/*.add-review-btn, .add-review-btn:active:focus, .add-review-btn.active:focus, .add-review-btn:focus {*/
/*  background-color: transparent;*/
/*  border-color: #ccc;*/
/*  color: #AAA; */
/*  width: 200px;*/
/*  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;*/
/*  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;*/
/*  -o-transition: background .2s ease-in-out, border .2s ease-in-out;*/
/*  transition: background .2s ease-in-out, border .2s ease-in-out;*/
/*}*/
/**/

/**/
/**/
/*.add-review-btn:hover {*/
/*  background-color: rgba(50,200,50,0.8); */
/*}*/

/*.add-review-btn {*/
/*	background-color: #1d1e22;*/
/*	border-color: #329B11;*/
/*}*/
/**/
/*.add-review-btn:hover {*/
/*	background-color: #329B11;*/
/*	border-color: #329B11;*/
/*}*/
/**/
/*.add-review-btn:hover .glyphicon-plus {*/
/*	color: #1d1e22;*/
/*}*/
/**/
/*.add-review-btn:active:focus {*/
/*	background-color: #1d1e22;*/
/*	border-color: #329B11;*/
/*}*/


/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.85);
    z-index: 9999;
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:1em;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}


/*Slide */

.bx-wrapper img {
  margin: 0 auto !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {

  background: #1d1e22 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #386C3C !important;
}

.size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 10px solid #1d1e22;
}

.about-person img{
  border: 1px solid #bbb;
}

h1.about-person-name {
  font-size: 2em;
  color: #379F8A;
}

/*.container {
  padding-bottom: 12%;
}*/

#footer {
  /*position: fixed;*/
  background-color: #1d1e22;
  margin-top: 100px;
  width: 100%;
  height: 400px;
}

#footer h3, #footer a {
  font-size: 0.6em;
}

.footer-logo {
  max-width: 120px;
}

.social-media {
  margin-top: 30px;
}

.social-media .contact-col a {
  color: #384B3C;
  font-size: 1em;
}

.social-media .contact-col a:hover {
  color: #387E3C;
}

#contact-page-container {
  margin-top: 10px;
}

#facebook, #instagram, #twitter, #address-map-icon, #email-icon, #phone-icon {
  color: #AAA;
  padding-left: 5px;
  padding-right: 5px;
}

/*#navbar-social-media {
  background: #333;
}*/


#phone-icon:hover {
  color: #44b253;
  cursor: pointer;
}
#email-icon:hover {
  color: #FFF;
  cursor: pointer;
}


#facebook:hover {
  color: #4568b2;
  cursor: pointer;
}

#instagram:hover {
  color: #cd486b;
  cursor: pointer;
}

#twitter:hover {
  color: #1dcaff;
  cursor: pointer;
}

#address-map-icon:hover {
  color: #EC5267;
  cursor: pointer;
}




#phone-number {
  padding: 10px;
}



.cp {
  color: #329B11;
}

.footer-title {
  color: #FFF;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
#back-to-top:hover i {
    color: #fff;
    top: 5px;
    cursor: pointer;
}
/*.back-to-top, .back-to-top:active:focus, .back-to-top.active:focus, .back-to-top:focus {
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 5px;
  display:none;
  background-color: transparent;
  border-color: #ccc;

  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}




.back-to-top:hover {
  border-color: #000;
  background-color: rgba( 50,155, 17,0.3);
}
*/


.glyphicon.glyphicon-chevron-up {
  color: #000;
}


/*
  HANDLING GALLEY IMAGES

*/

.main-image img {
  position: relative;
  width: 100%;
  border: 1px solid #000;
}

.thumbnail-img img {
  position: relative;
  max-width: 100%;
  border: 1px solid #000;
}

.scroll-padding {
  margin-top: 60px;
}

/*.thumbnail-container {
  border: 1px solid #fff;
}*/

.gallery-wrapper {
  display: none;
}
.active-display {
  display: inline;
}

.thumbnail-container:hover {
  opacity: 0.5;
}

.thumbnail-img img.current-img-indicator {
  border-bottom: 5px solid #000;
  border-top: 5px solid #000;
}

.quote {
  color: #ddd;
}

.quote.even {
  color: #999;
}

body #large-img-viewer {
  width: 1500px;
  margin: 0 auto;
  /*min-width: 80%;
  max-height: 80%;*/
}
/*
.modal-dialog #large-img-viewer{
    min-width: 80%;
    max-height: 80%;
    background: red;
}*/

.modal {
  z-index: 99999;
}

.verified{
  background: #6AD349;
}

.review-modal-img {
  max-width: 80px;

}

.modal-review-text {
  font-size: 1.2em;
}


/*MEDIA QUERIES*/

@media (min-width:320px)  {
/* smartphones, iPhone, portrait 480x320 phones */
  ul.nav a {
      font-size: 0.5rem;
  }
  ul.nav a:hover {
      font-size: 0.55rem;
  }
  .navbar-inverse .navbar-brand {
      font-size: 1.55rem;
  }
}

@media (min-width:481px)  {
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  ul.nav a {
      font-size: 0.55rem;
  }
  ul.nav a:hover {
      font-size: 0.6rem;
  }

  .navbar-inverse .navbar-brand {
      font-size: 1.6rem;
  }
}

@media (min-width:641px)  {
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  ul.nav a {
      font-size: 0.6rem;
  }
  ul.nav a:hover {
      font-size: 0.65rem;
  }

  .navbar-inverse .navbar-brand {
      font-size: 1.65rem;
  }
}

@media (min-width:961px)  {
/* tablet, landscape iPad, lo-res laptops ands desktops */
  ul.nav a {
      font-size: 0.65rem;
  }

  ul.nav a:hover {
      font-size: 0.7rem;
  }

  .navbar-inverse .navbar-brand {
      font-size: 1.7rem;
  }
}

@media (min-width:1025px) {
/* big landscape tablets, laptops, and desktops */

  ul.nav a {
      font-size: 0.7rem;
  }

  ul.nav a:hover {
      font-size: 0.75rem;
  }

  .navbar-inverse .navbar-brand {
      font-size: 1.75rem;
  }
}


@media (min-width:1281px) {
/* hi-res laptops and desktops */

  ul.nav a {
      font-size: 0.75rem;
  }

  ul.nav a:hover {
      font-size: 0.8rem;
  }

  .navbar-inverse .navbar-brand {
      font-size: 1.8rem;
  }
}


/*@media (max-width: 1550px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}*/
