<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="{% static 'valley_green_landscape/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/bootstrap.js' %}"></script>
	<script src="{% static 'valley_green_landscape/js/main.js' %}"></script>


    <title>Page Title</title>
</head>

<body>
	<!--TOP OF WEBSITE-->

  <!--
  	<div class="jumbotron">
  		<div class="row">

  			<div class="contact-info-top">
  				Call Us: <a href="tel:8183621668" id="phone-number">(818) 362-1668</a><br><br>
  				<a href="https://goo.gl/maps/GKUjoHKAS4x" target="_blank" class="no_underline"><i class="fa fa-map-marker" id="address-map-icon" style="font-size:20px"></i></a>
  				<a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a>
  				<a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a>
  				<a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a>
  			</div>
  		</div>

  	</div>

  -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'valley_green_landscape:index' %}" class="desktop-brand">
            <!-- <img src="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" alt="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" id="navbar-logo"> -->
            VGL
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left" id="top-links">
            <li><a href="{% url 'valley_green_landscape:index' %}">Home</a></li>
            <li><a href="{% url 'valley_green_landscape:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'valley_green_landscape:services' %}">Services</a></li>
            <li><a href="{% url 'valley_green_landscape:reviews' %}">Reviews</a></li>
            <li><a href="{% url 'valley_green_landscape:contact' %}" class="current">Contact</a></li>
            <li><a href="{% url 'valley_green_landscape:about' %}">About Us</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" id="navbar-social-media">
            <li><a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" id="phone-icon" style="font-size:20px"></i></a></li>
            <li><a href="https://goo.gl/maps/GKUjoHKAS4x" target="_blank" class="no_underline"><i class="fa fa-map-marker" id="address-map-icon" style="font-size:20px"></i></a></li>
            <li><a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  	<!--END TOP OF WEBSITE-->

	<div class="container">
		<div class="jumbotron text-center contact-info center">
				<h1 class="main-title">About Us</h1>

				<hr>

				<br>

				<div class="row about-person">
						<div class="col-md-4">
							<img class="img-responsive" src="{% static 'valley_green_landscape/img/about/cecilio.jpg' %}">
						</div>

						<div class="col-md-8">
							<h1 class="about-person-name">Cecilio Sandoval</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum.
							</p>

              <div class="pull-right">
                <div id="phone">
    							Call Cecilio: <a href="tel:8185546274">(818) 554-6274</a>
    						</div>
              </div>
						</div>

				</div>
				<br><br>
				<div class="row about-person">

						<div class="col-md-8">
							<h1 class="about-person-name">Raymond Sandoval</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore?.
							</p>

              <div class="pull-left">
                <div id="phone">
    							Call Raymond: <a href="tel:3239868962">(323) 986-8962</a>
    						</div>
              </div>
						</div>

						<div class="col-md-4">
							<img class="img-responsive" src="{% static 'valley_green_landscape/img/about/raymond.jpg' %}">
							<!--<div class="caption center-block">
								Raymond	Sandoval
							</div>		-->
						</div>

				</div>
				<br>
                <br>
				<div class="row about-person">
						<div class="col-md-4">
							<img class="img-responsive" src="{% static 'valley_green_landscape/img/about/kevin.jpg' %}">
							<!--<div class="caption center-block">
								Cecilio	Sandoval
							</div>				-->
						</div>

						<div class="col-md-8">
							<h1 class="about-person-name">Kevin Sandoval</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum, inventore? Molestiae maiores ex earum.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nesciunt tempora eum rem, iusto qui quaerat, iste rerum harum tempore blanditiis deserunt quas. Sequi rerum.
							</p>

              <div class="pull-right">
                <div id="phone">
    							Call Kevin: <a href="tel:8184478383">(818) 447-8383</a>
    						</div>
              </div>
						</div>

				</div>

		</div>

		<a id="back-to-top" href="#" class="btn btn-success btn-lg back-to-top" role="button" title="Click to return to the top of the page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

    </div><br><br><br><br>

	<!--<div id="footer">
      <div class="container">

		<div class="row">
			<div class="col-md-2 col-xs-2">
				<img src="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" alt="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" class="footer-logo">
			</div>

			<div class="social-media">
				<div class="col-md-3 col-xs-3 contact-col">
					<h3 class="footer-title">Address</h3>
					<a href="https://goo.gl/maps/GKUjoHKAS4x" target="_blank" class="no_underline">Aztec St. Sylmar, CA 91342</a>
				</div>

				<div class="col-md-2 col-xs-2 contact-col">
					<h3 class="footer-title">Phone</h3>
					<a href="tel:8183621668">(818) 362-1668</a>
				</div>

                <div class="col-md-2 col-xs-2 contact-col">
					<h3 class="footer-title">Email</h3>
					<a href="mailto:vgl@gmail.com">vgl@gmail.com</a>

				</div>

				<div class="col-md-3 col-xs-3">
					<h3 class="footer-title">Also find us on</h3>
					<a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:36px"></i></a>
					<a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:36px"></i></a>
					<a href="http://twitter.com"><i class="fa fa-twitter" id="twitter" style="font-size:36px"></i></a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center cp">
				© 2017 Valley Green Landscape, Inc.
			</div>
		</div>

      </div>
    </div>-->



</body>
</html>
