<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'valley_green_landscape/css/font-awesome.min.css' %}">
    <link rel="shortcut icon" href="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}">

    <script src="{% static 'valley_green_landscape/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/bootstrap.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/main.js' %}"></script>

    <title>Valley Green Landscape</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="{% url 'valley_green_landscape:index' %}" id="desktop-brand">
          <img src="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" alt="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}">
          <span>Valley Green Landscape</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right" id="top-links">
          <li><a href="{% url 'valley_green_landscape:index' %}">Home</a></li>
          <li><a href="{% url 'valley_green_landscape:gallery' %}">Gallery</a></li>
          <li><a href="{% url 'valley_green_landscape:services' %}">Services</a></li>
          <li><a href="{% url 'valley_green_landscape:reviews' %}">Reviews</a></li>
          <li><a href="{% url 'valley_green_landscape:contact' %}" class="current">Contact</a></li>
          <li><a href="{% url 'valley_green_landscape:about' %}">About Us</a></li>
        </ul>

        <!-- <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quick Links <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="text-center"><a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" id="phone-icon" style="font-size:20px"></i></a></li>
              <li class="text-center"><a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a></li>
              <li class="text-center"><a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a></li>
              <li class="text-center"><a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a></li>
            </ul>
          </li>
        </ul> -->
        <!-- <ul class="nav navbar-nav navbar-right" id="navbar-social-media">
          <li><a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" id="phone-icon" style="font-size:20px"></i></a></li>
          <li><a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a></li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!--END TOP OF WEBSITE-->

	<div class="container">
    <div class="text-center">
      <br>
      <h1>Overall Rating
        <br>
        <br>
        {{ overall_score_star|safe }}
        <br>
        {{ overall_score }} out of 5.0
      </h1> <br>

      <button type="button" class="btn btn-primary btn-lg submit-btn" data-toggle="modal" data-target="#confirm-post-review">
  		  Add a Review
  		</button>
    </div>


    <hr>

    <!--See more review text modal-->

    <div class="modal fade" id="review-see-more" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--end see more-->

    <!-- confirm you can post review -->

    <div class="modal fade" id="confirm-post-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please Enter Your Review Key</h4>
          </div>
          <form action="{% url 'valley_green_landscape:review_submission' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                  <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="text" class="form-control input-lg" id="review-key" name="review-key" placeholder="Review Key" required>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-danger" value="Cancel" data-dismiss="modal">
              <input type="submit" class="btn btn-success" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit-post-review" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please Enter Your Review Key to Edit Your Review</h4>
          </div>
          <form action="{% url 'valley_green_landscape:review_submission' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                  <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <input type="text" class="form-control input-lg" id="review-key" name="review-key" placeholder="Review Key" required>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-danger" value="Cancel" data-dismiss="modal">
              <input type="submit" class="btn btn-success" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- end confirm post review -->



		<br>

    {% if messages %}
        {% for message in messages %}
            <br>
            <div class="alert alert-success alert-dismissable" id="successful-post">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Thank you for your review {{ message }}!</strong>
            </div>
        {% endfor %}
    {% endif %}

    {% if invalid_key %}

    <br>
    <div class="alert alert-danger alert-dismissable" id="successful-post">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{ invalid_key }}</strong>
    </div>

    {% endif %}

      {% if reviews %}
          {% for review in reviews %}

            <div class="review-container {% if forloop.counter0|divisibleby:2 %}even{% endif %}" id="review{{ forloop.counter }}">
              <div class="row pull-right">
                <a class="text-muted edit-review-btn" data-toggle="modal" data-target="#edit-post-review">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-4 col-xs-12">
                  <div class="thumbnail">
                    {% if review.verified %}
                    <span class="badge verified"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                    {% endif %}

                    <img src="{{ review.photo.url }}" alt="{{ review.user }}" class="reviewer-profile-img">

                    <div class="text-center">
                      <h4><strong>{{ review.user }}</strong></h4>
                    </div>
                  </div>
                </div>

                <i class="fa fa-quote-left fa-2x fa-pull-left quote {% if forloop.counter0|divisibleby:2 %}even{% endif %}" aria-hidden="true"></i>
                <div class="reviewer-comment-text text-center col-lg-10 col-md-10 col-sm-8 col-xs-12">
                    <input type="hidden" value="{{ review.text }}" class="full-text">

                </div>
                <!-- <i class="fa fa-quote-right fa-2x fa-pull-right quote {% if forloop.counter0|divisibleby:2 %}even{% endif %}" aria-hidden="true"></i> -->
                <br><br>


                </div>

            <div class="row">
                <div class="review-post-date col-md-3 review-star-score">
                    {{ review.star_score|safe}} {{ review.score }} out of 5
                </div>
            </div>

            <div class="row">
                <div class="review-post-date col-md-3">
                    <p>Posted on: {{ review.posted_at }}</p>
                </div>
            </div>
              </div><br>
          {% endfor %}
      {% else %}

      <div class="jumbotron text-center">
          <h1>There are currently no reviews available.<br>You can add one by clicking on <b>Add a Review</b></h1>
      </div>
      {% endif %}

    <a id="back-to-top" class="btn btn-info">
      <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </a>
	</div>

  <footer class="footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" style="font-size:20px"></i> (818) 362-1668</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="font-size:20px"></i> vgl@gmail.com</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="https://www.facebook.com/Valley-Green-Landscape-357663454652249/"><i class="fa fa-facebook-official" style="font-size:20px"></i> Valley Green Landscape</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="http://instagram.com"><i class="fa fa-instagram" style="font-size:20px"></i> @Valley Green Landscape</a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <p class="text-muted">
        Copyright © 2017 Valley Green Lanscape All Rights Reserved.
      </p>
    </div>
  </footer>

	<!--<div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>-->



  <script type="text/javascript">
    fix_review_size();
  </script>


</body>
</html>
