<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'valley_green_landscape/css/font-awesome.min.css' %}">

    <script src="{% static 'valley_green_landscape/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/bootstrap.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/main.js' %}"></script>

    <title>Page Title</title>
</head>

<body>
	<!--TOP OF WEBSITE-->

  <!--
  	<div class="jumbotron">
  		<div class="row">

  			<div class="contact-info-top">
  				Call Us: <a href="tel:8183621668" id="phone-number">(818) 362-1668</a><br><br>
  				<a href="https://goo.gl/maps/GKUjoHKAS4x" target="_blank" class="no_underline"><i class="fa fa-map-marker" id="address-map-icon" style="font-size:20px"></i></a>
  				<a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a>
  				<a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a>
  				<a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a>
  			</div>
  		</div>

  	</div>

  -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'valley_green_landscape:index' %}" class="desktop-brand">
            <!-- <img src="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" alt="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" id="navbar-logo"> -->
            VGL
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left" id="top-links">
            <li><a href="{% url 'valley_green_landscape:index' %}">Home</a></li>
            <li><a href="{% url 'valley_green_landscape:gallery' %}">Gallery</a></li>
            <li><a href="{% url 'valley_green_landscape:services' %}">Services</a></li>
            <li><a href="{% url 'valley_green_landscape:reviews' %}">Reviews</a></li>
            <li><a href="{% url 'valley_green_landscape:contact' %}" class="current">Contact</a></li>
            <li><a href="{% url 'valley_green_landscape:about' %}">About Us</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" id="navbar-social-media">
            <li><a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" id="phone-icon" style="font-size:20px"></i></a></li>
            <li><a href="https://goo.gl/maps/GKUjoHKAS4x" target="_blank" class="no_underline"><i class="fa fa-map-marker" id="address-map-icon" style="font-size:20px"></i></a></li>
            <li><a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a></li>
            <li><a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  	<!--END TOP OF WEBSITE-->

	<div class="container">
        <br>
        <div class="row text-center first-gallery-element">
            <h2 class="overall-score">Overall Rating<br>{{ overall_score_star|safe }}
                {{ overall_score }} out of 5
            </h2>
        </div><br>

        <div class="row text-center">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg submit-btn" data-toggle="modal" data-target="#myModal">
			  Add a Review
			</button>

        </div>

    <!--See more review text modal-->

    <div class="modal fade" id="review-see-more" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--end see more-->

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<!--<h4 class="modal-title" id="myModalLabel">Add a Review</h4>-->
				<h1 class="main-title">
					Add a Review
				</h1>
			  </div>
			  <div class="modal-body">
				<form action="{% url 'valley_green_landscape:add_review' %}" class="text-left" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" placeholder="Add Full Name" class="form-control input-lg" name="user-name" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                <label>Photo URL</label>
                                <input type="text" placeholder="Add photo from URL (eg. https://my-website.com/my-image.jpg)" class="form-control input-lg" name="profile-img">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                <label>Review Text</label>
                                <textarea placeholder="Add a review" class="form-control input-lg" name="review-text" required></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                <label>Overall Rating</label><br>
                                <input type="number" name="review-score" min="1" max="5" value="5" class="form-control" required>

                            </div>
                        </div>
                    </div>

			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

				<button type="submit" class="btn btn-success add-review-btn" aria-label="Left Align" id="submit-review-btn">
                            Submit Review
                </button>
			  </div>

			  </form>
			</div>
		  </div>
		</div>

		<br>

		<hr>

    {% if messages %}
        {% for message in messages %}
            <br>
            <div class="alert alert-success alert-dismissable" id="successful-post">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Thank you for your review {{ message }}!</strong>
            </div>
        {% endfor %}
    {% endif %}

      {% if reviews %}
          {% for review in reviews %}

              <div class="review-container {% if forloop.counter0|divisibleby:2 %}even{% endif %}" id="review{{ forloop.counter }}">
                  <div class="row">
                      <div class="col-lg-2 col-md-2 col-xs-2">
                          <div class="thumbnail">
                              {% if review.verified %}
                                <span class="badge verified"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                              {% endif %}

                              <img src="{{ review.photo }}" alt="{{ review.user }}" class="reviewer-profile-img img-thumbnail">

                              <div class="text-center">
                                  <h4><strong>{{ review.user }}</strong></h4>
                              </div>
                          </div>
                      </div>

                      <div class="reviewer-comment-text text-center col-lg-10 col-md-10 col-sm-10 col-xs-10">
                          <input type="hidden" value="{{ review.text }}" class="full-text">
                          <i class="fa fa-quote-left fa-2x fa-pull-left quote {% if forloop.counter0|divisibleby:2 %}even{% endif %}" aria-hidden="true"></i>

                          <i class="fa fa-quote-right fa-2x fa-pull-right quote {% if forloop.counter0|divisibleby:2 %}even{% endif %}" aria-hidden="true"></i>
                          <br><br>

                      </div>


                  </div>

                  <div class="row">
                      <div class="review-post-date col-md-3 review-star-score">
                          {{ review.star_score|safe}} {{ review.score }} out of 5
                      </div>
                  </div>

                  <div class="row">
                      <div class="review-post-date col-md-3">
                          <p>Posted on: {{ review.posted_at }}</p>
                      </div>
                  </div>
              </div><br>
          {% endfor %}
      {% else %}

      <div class="jumbotron text-center">
          <h1>There are currently no reviews available.<br>You can add one by clicking on <b>Add a Review</b></h1>
      </div>
      {% endif %}

      <a id="back-to-top" href="#" class="btn btn-success btn-lg back-to-top" role="button" title="Click to return to the top of the page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
	</div>

  <br><br><br><br>

	<!--<div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>-->




</body>
</html>
