<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'valley_green_landscape/css/jquery.bxslider.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}">

    <script src="{% static 'valley_green_landscape/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/jquery.bxslider.min.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/main.js' %}"></script>
    <script src="{% static 'valley_green_landscape/js/bootstrap.js' %}"></script>

    <title>Valley Green Landscape</title>
</head>

<body>
	<!--TOP OF WEBSITE-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="{% url 'valley_green_landscape:index' %}" id="desktop-brand">
          <img src="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}" alt="{% static 'valley_green_landscape/img/VGL_LOGO.png' %}">
          <span>Valley Green Landscape</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right" id="top-links">
          <li><a href="{% url 'valley_green_landscape:index' %}">Home</a></li>
          <li><a href="{% url 'valley_green_landscape:gallery' %}">Gallery</a></li>
          <li><a href="{% url 'valley_green_landscape:services' %}">Services</a></li>
          <li><a href="{% url 'valley_green_landscape:reviews' %}">Reviews</a></li>
          <li><a href="{% url 'valley_green_landscape:contact' %}" class="current">Contact</a></li>
          <li><a href="{% url 'valley_green_landscape:about' %}">About Us</a></li>
        </ul>

        <!-- <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quick Links <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="text-center"><a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" id="phone-icon" style="font-size:20px"></i></a></li>
              <li class="text-center"><a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a></li>
              <li class="text-center"><a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a></li>
              <li class="text-center"><a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a></li>
            </ul>
          </li>
        </ul> -->
        <!-- <ul class="nav navbar-nav navbar-right" id="navbar-social-media">
          <li><a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" id="phone-icon" style="font-size:20px"></i></a></li>
          <li><a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" id="email-icon" style="font-size:20px"></i></a></li>
          <li><a href="http://facebook.com"><i class="fa fa-facebook-official" id="facebook" style="font-size:20px"></i></a></li>
          <li><a href="http://instagram.com"><i class="fa fa-instagram" id="instagram" style="font-size:20px"></i></a></li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  	<!--END TOP OF WEBSITE-->

  <div class="container">
    <div class="jumbotron text-center">
			<h1>Services</h1>
    </div>

    <hr><br>

    <div class="clearfix"></div>

    <div class="services-sections">

  		<section class="review-container even" id="gardening-service">
        <h2>Gardening Service</h2>
        <p>First impressions matter and one of the best ways to create an inviting home is by taking care of your lawn. This service includes lawn analysis and treatment assessment. We take the pressure off your shoulders by creating a customized plan to improve and maintain the health and look of your grass. This includes: fertilization, insect and weed control, soil aeration and additional services upon request.</p>

        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Gardening Service">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container" id="sodding-reseeding">
        <h2>Sodding and Reseeding</h2>
        <p>Got a lackluster lawn and want to do something about it? Start anew by installing new sod or give your current lawn another chance by reseeding it.</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>

            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Sodding and Reeseding">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>

          </div>
        </div><br>
      </section>

      <section class="review-container even" id="valve-replacement">
        <h2>Irrigation Valve Replacement</h2>
        <p>Got a leaky irrigation valve?</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Valve Replacement">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container" id="sprinkler-installation">
        <h2>Sprinkler Installation</h2>
        <p></p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Sprinkler Installation">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container even" id="hardscape-design-and-installation">
        <h2>Hardscape Design and Installation</h2>
        <p>Do you want your home to look good and at the same time be environmentally conscious? Try outfitting your home with a hardscape which will give your home a modern look whole year round.</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Hardscape Design and Installation">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container">
        <h2>Synthetic Turf Maintenance and Installation</h2>
        <p></p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Synthetic Turf Maintenance and Installation">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container even">
        <h2>Concrete Curb</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et alias corrupti ex unde aspernatur, magni nam officia, dolorem, ut odio dolores! Id vel, rem, a, quas aut beatae autem sit quod repellat ea eaque officiis explicabo consectetur, odit assumenda temporibus odio fugiat dolores in. Veritatis sunt unde perspiciatis necessitatibus similique quos, fugit? Exercitationem explicabo fugiat ad culpa sint excepturi cumque, labore quae nesciunt facilis hic neque incidunt enim, perspiciatis tempora, asperiores! Earum amet, ad at sunt voluptas magnam excepturi eligendi pariatur voluptatibus maxime, optio accusantium iure nam possimus inventore. Soluta.</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Concrete Curb">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container">
        <h2>Mulch and Gravel Design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, architecto, laboriosam! Debitis, blanditiis quaerat fugit, officiis recusandae perspiciatis eveniet expedita amet reiciendis pariatur. Optio aperiam animi nihil dolorem error nulla perspiciatis delectus enim. Necessitatibus ducimus dolorem sapiente inventore ut ab nobis qui. Sit, atque expedita porro. Facere voluptates, fugiat fuga. Odit, a veritatis dolorem ratione quod cupiditate nostrum sed obcaecati iusto, excepturi, consectetur dolor! Magni quidem ab enim magnam qui deleniti cumque incidunt cum aliquam facilis cupiditate ad, adipisci delectus aliquid officia perferendis eius suscipit, temporibus totam maxime laborum. Doloribus.</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Mulch and Gravel Design">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container even">
        <h2>Drip System Installation and Repair</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus non laborum accusamus provident! Soluta nihil quis, aspernatur hic autem voluptates itaque magnam nemo omnis mollitia facere provident sequi reprehenderit, ex minima cupiditate quasi necessitatibus quas delectus ab fugiat rem enim molestiae incidunt odio. Pariatur dolores, repudiandae maxime aperiam ducimus praesentium nostrum dolorum omnis accusantium libero veritatis illum maiores provident molestias assumenda quisquam exercitationem error nobis voluptates ad eaque ex voluptatum amet necessitatibus. Optio deserunt facilis sed et earum rerum similique?</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Drip System Installation and Repair">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container">
        <h2>Tree Trimming</h2>
        <p>Give your trees a clean look by removing dead branches and giving them a defined outline. We take care of all the debris and get our of your way in a matter of hours. Contact us today for a free quote.</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Tree Trimming">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container even">
        <h2>Palm and Tree Cleanup</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nisi, sit quam unde vero voluptatum ipsum. Facere, dolor, nostrum. Temporibus perspiciatis, ea inventore sit obcaecati eos, facilis modi dolorem soluta error illum, eligendi, non fugit explicabo delectus et aperiam tempore vero harum similique. Consequatur iste reiciendis, mollitia modi unde et quas nemo ducimus recusandae accusantium, corporis, sunt! Explicabo, culpa similique!</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Palm and Tree Cleanup">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container">
        <h2>Lot/Hillside Cleaning for Fire Regulation</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, possimus, voluptas. Dicta, repellendus. Quis eveniet saepe esse at quae, dicta modi autem nulla reprehenderit, fugit voluptatem! Consectetur asperiores similique, saepe quisquam optio fuga animi laboriosam sunt accusamus expedita culpa harum nemo quibusdam id dolores quas praesentium fugiat recusandae eligendi! Voluptatibus assumenda iure delectus excepturi accusamus tempora. Quo in commodi incidunt nesciunt repellat velit eveniet sequi molestias et, dolorem numquam porro, nihil laudantium quas odio consequuntur delectus minima saepe dicta quae molestiae nobis illo tempora? Ullam, quae, aut! Qui officia quaerat tempore nisi. Quis, nemo necessitatibus. Ipsum consequatur provident deleniti tempora aut, doloribus at illum ad sit harum animi dolorum, optio maiores! Animi doloribus itaque omnis est suscipit, quod asperiores amet.</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Lot/Hillside Cleaning Service for Fire Regulation">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <section class="review-container even">
        <h2>Stump Grinding</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem excepturi culpa blanditiis voluptatum velit. Iusto voluptatem neque tempore impedit ex, quaerat doloribus iste, vitae, sequi ipsum temporibus, magnam natus necessitatibus inventore. Saepe consequuntur, assumenda mollitia, dolor omnis laboriosam sit, eius, aliquid repellat atque aperiam consectetur fugiat. Laudantium doloremque voluptate impedit, reprehenderit libero, et quam, unde incidunt vitae nisi eum officia perferendis saepe, dignissimos. Eligendi, recusandae, dolore! Temporibus eius tempora nulla rerum dolores, dolorem beatae? Quos tempore minima maxime atque, commodi?</p>
        <div class="service-menu">
          <div class="row pull-right">
            <a href="" class="btn btn-info">See Gallery</a>
            <form action="{% url 'valley_green_landscape:contact' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="requested-service" value="Stump Grinding">
              <input type="submit" class="btn btn-success" value="Request Service">
            </form>
          </div>
        </div><br>
      </section>

      <hr>

    </div>
    <a id="back-to-top" class="btn btn-info">
      <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </a>
  </div>

  <footer class="footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a href="tel:8183621668"><i class="fa fa-phone" aria-hidden="true" style="font-size:20px"></i> (818) 362-1668</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a href="mailto:vgl@gmail.com"><i class="fa fa-envelope" aria-hidden="true" style="font-size:20px"></i> vgl@gmail.com</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a href="https://www.facebook.com/Valley-Green-Landscape-357663454652249/"><i class="fa fa-facebook-official" style="font-size:20px"></i> Valley Green Landscape</a>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <a href="http://instagram.com"><i class="fa fa-instagram" style="font-size:20px"></i> @Valley Green Landscape</a>
        </div> -->
      </div>
      <br>
      <br>
      <br>
      <p class="text-muted">
        Copyright © 2017 Valley Green Lanscape All Rights Reserved.
      </p>
    </div>
  </footer>


	<!--<div id="footer">
      <div class="container">
        <p class="text-muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>-->



</body>
</html>
